.NoAuthHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: var(--max-width);
  width: 80%;
}

.titleContainer {
  text-align: center;
}

.titleContainer > h1 {
  margin-left: 30px;
  margin-bottom: 25px;
}

.titleContainer > p {
  font-size: 1.2rem;
}

.titleContainer i {
  color: var(--red);
  font-weight: bold;
  font-size: 1.4rem;
}

.btnContainer > button {
  padding: 20px 40px;
}
