.Header {
  box-shadow: 0 1px 2px 0px var(--light-box-shadow);
  height: 60px;
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* padding-right: 25px;  */
  /* opacity: 0;
  transition: 0.3s; */
}

.loading,
.loaded {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  position: relative;
  top: 0px;
  opacity: 1;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.loading {
  opacity: 0;
}

.profileBackground {
  border-radius: 50%;
  background: var(--secondary-glow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
}

@media (hover: hover) {
  .profileBackground:hover {
    background-position: 50%;
  }
}

.profile {
  color: var(--profile-gray);
  font-size: 35px;
  transition: color 0.2s;
}
/* 
@media (hover: hover) {
  .profileBackground:hover .profile {
    color: 
  }
} */
