.Burger {
  position: relative;
  width: 60px;
  height: 60px;

  --delay: 0.2s;
}

.bar {
  width: 60px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
  position: absolute;
  transition: top 0.3s, opacity 0s;
  transition-delay: var(--delay), var(--delay);
  transition-timing-function: ease-in-out;
}

/* Menu Closed */

.top {
  top: 15%;
}

.mid {
  top: 45%;
}

.low {
  top: 75%;
}

.x {
  top: 45%;
  transition: transform var(--delay);
  transition-delay: 0s;
}

/* Menu Open */

.bar.open {
  top: 45%;
  opacity: 0;
  transition-delay: 0s, var(--delay);
}

.x.open {
  transition-delay: var(--delay);
  opacity: 1;
}

.x1.open {
  transform: rotateZ(45deg);
}

.x2.open {
  transform: rotateZ(-45deg);
}

@media only screen and (min-width: 601px) {
  .Burger {
    display: none;
  }
}
