.BurgerNav {
  position: absolute;
  right: 0;
  top: 61px;
  height: 245px;
  background-color: var(--gray);
  width: 170px;
  border-bottom-left-radius: 5px;
  box-shadow: -1px 2px 3px 0 var(--dark-box-shadow);
  z-index: 1000;
}

.BurgerNav * {
  color: var(--dark-gray);
  font-weight: 300;
  text-align: right;
  cursor: pointer;
}

.BurgerNav li {
  padding: 31px 25px;
}

.BurgerNav li:hover {
  background-color: var(--dim-gray);
}

.BurgerNav li > a,
.BurgerNav li > p {
  font-size: 1.3rem;
}

@media (hover: hover) {
  .hover:hover {
    color: black;
  }
}

@media only screen and (max-width: 600px) {
  .BurgerNav {
    width: 100%;
    height: 300px;
  }

  .BurgerNav li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .BurgerNav li > a,
  .BurgerNav li > p {
    font-size: 2rem;
  }
}
