/* .Logo {
  color: white;
  font-size: 65px;
  background-color: var(--red);
  height: 100%;
  width: 70px;
  position: relative;
} */

/* .Logo > p {
  font-family: var(--font-cursive);
  height: 100%;
  margin-top: -13px;
  margin-left: 10px;
  position: relative;
  transform: rotate(5deg);
} */

/* .clipBar {
  background-color: var(--red);
  position: absolute;
  width: 70px;
  height: 8px;
  z-index: 2;
} */

/* .bar {
  height: 13px;
  background-color: white;
  position: absolute;
} */

/* .bar.top {
  width: 43px;
  top: 7.8px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  -moz-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
} */

/* .bar.mid {
  width: 31px;
  top: 22.9px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 66% 100%, 0% 100%);
  -moz-clip-path: polygon(0% 0%, 100% 0%, 66% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 66% 100%, 0% 100%);
} */

/* .bar.low {
  width: 19px;
  top: 37.9px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 49% 100%, 0% 100%);
  -moz-clip-path: polygon(0% 0%, 100% 0%, 49% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 48% 100%, 0% 100%);
} */

@media (hover: hover) {
  .Logo:hover {
    cursor: pointer;
    color: var(--red);
    background-color: white;
  }

  .Logo:hover .clipBar {
    background-color: white;
  }

  .Logo:hover .bar {
    background-color: var(--red);
  }
}
