.Loading {
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.bars {
  position: relative;
  overflow: hidden;
  height: 80%;
}

.bar {
  height: 40px;
  background: var(--loading);
  background-size: 200%;
  animation: 0.7s infinite linear loadingActive;
  position: absolute;
}

.top {
  width: 100%;
  top: 0;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  -moz-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  border-top-left-radius: 10px;
}

.mid {
  width: 88%;
  top: 50px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
  -moz-clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
}

.low {
  width: 75%;
  top: 100px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 86% 100%, 0% 100%);
  -moz-clip-path: polygon(0% 0%, 100% 0%, 86% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 86% 100%, 0% 100%);
  border-bottom-left-radius: 10px;
}

@keyframes loadingActive {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200% -200%;
  }
}

.text {
  font-family: var(--font-cursive);
  font-size: 2rem;
  color: var(--dark-blue);
}
